@import 'colors';

@import 'movie';
@import 'movie-header';
@import 'movie-identifiers';
@import 'movie-info';
@import 'movie-ratings';
@import 'movie-trailer';
@import 'theater-summary';

* {
  font-family: 'Open Sans', 'sans-serif';
  transition: transform 2s;
}

a, .link {
  text-decoration: underline;
  color: $link-color;
  cursor: pointer;
}

a:hover, .link:hover {
  text-decoration: none;
  opacity: 0.8;
}

a:visited, .link:visited {
  color: $visited-link-color;
}

.movie-finder {

  .heading {
    display: flex;
    justify-content: center;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .movie-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}