@import 'movie';
@import 'movie-header';
@import 'movie-identifiers';
@import 'movie-info';
@import 'movie-ratings';
@import 'theater-summary';

* {
  font-family: 'Open Sans', 'sans-serif';
}

a {
  text-decoration: underline;
  color: #80107f;
  cursor: pointer;
}

.movie-finder {

  .heading {
    display: flex;
    justify-content: center;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .movie-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}