.theater-summary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 15px;

  .theater-name {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 20px;
  }

  .theater-showtime {
    font-size: 13px;
    margin-right: 8px;
    color: #6b615f;
  }
}