.theater-summary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 15px;

  .theater-name {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 20px;

    //text-decoration: underline;
    //color: #9a612d;
    //cursor: pointer;
  }

  .theater-showtime {
    font-size: 13px;
    margin-right: 8px;
    color: #6b615f;
    font-style: italic;
    font-weight: 700;
  }
}